@import '../../styles/variables';

.masonry-image-grid {
  column-gap: 10px;

  @media (min-width: 769px) {
    column-count: 3;
  }
  @media (max-width: 768px) {
    column-count: 2;
  }
  @media (max-width: 500px) {
    column-count: 1;
  }

  &-item {
    position: relative;

    display: flex;
    justify-content: center;

    margin-bottom: 8px;

    break-inside: avoid;
    page-break-inside: avoid;

    @media (min-width: 501px) {
      flex-direction: row;
    }
    @media (max-width: 500px) {
      flex-direction: column;
    }

    &-overlay {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      opacity: 0;
      background-color: rgba(0, 0, 0, 0.53);
    }

    &__details {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      transition: opacity .15s ease-in;

      opacity: 0;
      background-color: rgba(0, 0, 0, 0.4);

      &:hover {
        opacity: 1;
      }
    }

    &__author {
      padding: 12px 16px;

      color: white;

      &:last-child {
        font-style: italic;
      }

      .ant-btn {
        padding: 0;

        transition: transform 0.2s ease-in;

        color: $dark-gray;

        a {
          padding: 2px 6px;

          border-radius: 2px;
          background-color: $light-gray-2;
        }

        &:hover {
          transform: translateY(-1px);
        }
      }
    }
  }

  &__image {
    align-self: center;

    max-width: 100%;
    max-height: (920 / 3) * 2px;
  }
}
